# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.envExample
# IDE files
.vscode/
.idea/
*.iml

# Logs
*.log
logs/

.DS_Store
Thumbs.db

chromedriver.exe
chromedriver.log

pip-log.txt
pip-delete-this-directory.txt

*.ffmpeg_temp
